# Compiled Object files
*.slo
*.lo
*.o
*.ko

# Compiled Dynamic libraries
*.dll
*.so
*.so.*
*.dylib

# Compiled Static libraries
*.lai
*.lib
*.la
*.a

# Executables
*.exe
*.out
*.app

# Temporary files
*~
